

body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem; 
    text-align: center;
    line-height: 1.6em ;

            }
    title,h1
        {font-family: 'Vidaloka', serif;
    color: white;
    font-size: 2.5rem;
    background-color: #F8B0BB;
    padding: 4rem;
    text-align: center;
    font-size: 4rem;}

    h2{font-family: 'Vidaloka', serif;
    color: #EC867A;
    font-size: 2.5rem;
    text-align: center;
    font-size: 4rem;}
   
    h4{
    font-family: 'Vidaloka', serif;
    text-align: center;
    font-size: 1.5rem;}   
head {
    text-align:center;
    background-color: #FCE2E1;}

    
      

  
      div,html{
        margin: 70px;
        border: 1px solid #FCE2E1;
        background-color: #FCE2E1;
        text-align:left}